.container {
  width: 1410px;
  margin: 0 auto;

  @include laptop {
    width: 1170px;
  }

  @include mobile {
    width: auto;
    padding: 0 15px;
  }
}

.divider-vertical {
  background-color: #e5e8ec;
  width: 1px;
  height: 100%;
}

.divider-horizontal {
  background-color: #e5e8ec;
  height: 0.8px;
  width: 100%;
}

.clickable {
  cursor: pointer;

  &:hover {
    color: $primary !important;
  }
}

.highlight {
  color: $primary;
}
