.product {
  padding-top: 60px;

  @include mobile {
    padding-top: 20px;
  }

  &__item {
    img {
      width: 100%;
    }

    &:hover {
      cursor: pointer;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
  }
}
